/*base.css: the css file
 * Style tweaks
 * --------------------------------------------------
 */
html,

body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}


body {
  padding-top: 70px;
}


footer {
  padding: 30px 0;
}


/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}


#index  { MARGIN-RIGHT: auto; MARGIN-LEFT: auto;
	overflow: hidden;
}


#navagate {text-align:center;}


#navagate ul {
	list-style-type:none;
	margin:0;
	padding:0;
	padding-top:10px;
	padding-bottom:10px;
}


#navagate li {
	display:inline;
}


#navagate a:link, a:visited {
	font-weight:bold;
	color:red;
	background-color:#98bf21;
	text-align:center;
	padding:6px;
	text-decoration:none;
	text-transform:uppercase;
}


#navagate a:hover, a:active {
	background-color:#7A991A;
}


#headed a:link, a:visited {
	font-weight:bold;
	color:yellow;
	background-color:#2F4F4F;
	text-align:center;
	padding:6px;
	text-decoration:none;
	text-transform:uppercase;
}


#headed a:hover, a:active {
	background-color:#7A991A;
}


#index-left {
	width:50%;
	font-weight:arial; font-size:20px;
	background-color:red;
}


#index-right {
	width:50%;
	height:500px;
float:right;
	margin-top:20px;
}


#foot {
	width:auto;
	text-align: center;
}
