<!-- _about.html: just about me -->
<html>
    <body>
        <h3>我是neo1218</h3>
        <p>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="https://github.com/neo1218">
                        <img width="29" height="29" alt="Brand" src="../static/img/GitHub.svg.png">
                    </a>
                    <a class="navbar-brand" href="http://segmentfault.com/u/neo1218">
                        <img width="29" height="29" alt="Brand" src="../static/img/sg.png">
                    </a>
                    <a class="navbar-brand" href="https://twitter.com/_neo1218_?lang=zh-cn">
                        <img width="29" height="29" alt="Brand" src="../static/img/twitter.png">
                    </a>
                    <a class="navbar-brand" href="https://www.facebook.com/profile.php?id=100009095675220">
                        <img width="29" height="29" alt="Brand" src="../static/img/facebook.png">
                    </a>
                    <a class="navbar-brand" href="http://www.jobbole.com/members/neo1218/">
                        <img width="29" height="29" alt="Brand" src="../static/img/bole.png">
                    </a>
                    <a class="navbar-brand" href="http://www.gzevergrandefc.com/default.aspx">
                        <img width="29" height="29" alt="Brand" src="../static/img/evergrand.png">
                    </a>
                </div>
            </div>
        </nav>
        </p>
        <p>
            我是neo1218,是终端的狂热爱好者,相信Python Flask Mac Node Vim Linux大法好!
        </p>
        <h3>一些项目</h3>
        <p>
        <a href="https://github.com/neo1218/neo1218_blog"><strong>neo1218_blog:</strong></a>这个博客<br/>
        <a href="https://github.com/neo1218/mana"><strong>mana:</strong></a>flask项目生成器 happy generate flask project<br/>
        <a href="https://github.com/neo1218/MuxiVim"><strong>MuxiVim:</strong></a>我的vim编辑器 vim for muxi studio<br/>
        <a href="https://github.com/neo1218/muxi"><strong>muxi:</strong></a>简单的python web框架[开发中] on top of flask<br/>
        <a href="https://github.com/neo1218/rest"><strong>rest:</strong></a>restful API framework for flask[开发中]<br/>
        <a href="https://github.com/progit/progit2-zh"><strong>progit2-zh:</strong></a>《progit2》中文版翻译<br/>
        </p>
        <h3>木犀团队</h3>
        <p>
        come from muxi-studio<br/>
        <a href="http://muxistudio.com/">website</a>
        <a href="https://github.com/Muxi-Studio">github</a>
        </p>
    </body>
</html>
