<!DOCTYPE>
{% extends "base.html" %}
{% block content %}
<div id="about" style="text-align:center; background-color:blue; width:50%; hight:auto; margin-left:20px;">
	<h1> About </h1><br/>
	<h3>Name:</h3>
		neo1218<br/>
	<h3>Where:&nbsp;</h3>
	from Tongling to Wuhan<br/>
	<h3>Like:&nbsp;</h2>vim python Mac *Terminal github OSC <br/>
	<hr/>
	<h1>Project</h1><br/>
	<h3>mana</h3> happy generate flask project🍺
	<a href="https://github.com/neo1218/mana">github repo</a> <br/>
	<h3>MuxiVim</h3> vim for muxistudio
	<a href="https://github.com/neo1218/MuxiVim">github repo</a> <br/>
	<h3>muxi</h3> a python web framework, simple and powerful
	<a href="https://github.com/neo1218/muxi">github repo</a> <br/>
	<hr/>
	<h1>Thought</h1>
			1. Do What You Want to Do ! <br/>
			2. Open Source is Great ! <br/>
			3. Always Coding ! <br/>
	<hr/>
	<h1>Hope</h1>
	Don't Waste Your Time !<br/>
	<br/>
</div>
{% endblock content %}
