<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<div class="jumbotron" style='background-image:url("http://7xj431.com1.z0.glb.clouddn.com/i_need_rest_by_gada_chan-d34h65n.jpg");'>
    <strong><h1>This is Neo1218</h1></strong>
    <p class="lead">
    <span class="label label-default">vim</span>
    <span class="label label-primary">python</span>
    <span class="label label-success">Mac</span>
    <span class="label label-info">shell</span>
    <span class="label label-warning">Linux</span>
    <span class="label label-danger">node.js</span>
    <span class="label label-default">...</span>
    </p>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        About Me
    </button>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">about me</h4>
                </div>
                <div class="modal-body">
                    {% include '_about.html' %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row marketing">
    {% for page in pages %}
        <div class="col-lg-2">
            <h4>{{ page.title }}</h4>
            <p>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{pages.index(page)}}">
                Read Post
            </button>
            </p>
            <!-- Modal -->
            <div class="modal fade bs-example-modal-lg" id="{{pages.index(page)}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">{{ page.title }}</h4>
                        </div>
                        <div class="modal-body">
                            {{ page.html|safe }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}
